* {
  box-sizing: border-box;
}

body {
  background-color: ivory;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
h1,
h2,
h3 {
  font-family: "Times New Roman", Times, serif;
}
header {
  display: flex;
}

#heading,
.navigation {
  text-align: center;
  background-color: cornsilk;
  padding: 1%;
}

.board {
  background-color: burlywood;
  padding: 2%;
  margin: 1% auto;
  width: 275px;
}

.table-of-changes {
  display: flex;
  flex-wrap: wrap;
}

.board p {
  color: black;
}

.stickynote {
  background-color: lightyellow;
  max-width: 50%;
  height: auto;
  display: block;
  margin: auto;
  padding: 2px;
  transform: rotate(1deg);
  box-shadow: 2px 2px 2px 0px black;
}

h1 {
  margin-top: 0px;
}

a {
  text-decoration: none;
  justify-content: center;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 0px black;
  margin: 1% auto;
}

.frontpage-content,
.content {
  text-align: center;
  display: flex;
  flex-flow: column;
}

.content p {
  margin: 1%;
}

.cross-course,
.crosscourse-link {
  background-color: #219026;
  color: #dcdbdb;
}

.semester-project,
.semesterproject-link {
  background-color: #f4c18e;
  color: #29637d;
}

.project-exam,
.projectexam-link {
  background-color: #b1e0e7;
  color: black;
}
/* .cross-course,
.semester-project,
.project-exam*/
a {
  display: flex;
  align-items: center;
}

a:hover {
  width: 180px;
  height: 180px;
  transition: 1.2s ease;
}

/* Media Queries */

@media (min-width: 500px) {
  a {
    height: 220px;
    width: 220px;
  }

  a:hover {
    width: 260px;
    height: 260px;
  }
  h2 {
    font-size: 1.8em;
  }
}

@media (min-width: 768px) {
  .frontpage-content {
    flex-flow: row;
    max-width: 100%;
    justify-content: space-evenly;
  }
  .content {
    align-items: center;
  }
  .frontpage-content a {
    margin: 5% 0%;
  }
}

@media (min-width: 1029px) {
  a {
    width: 280px;
    height: 280px;
  }
  a:hover {
    width: 320px;
    height: 320px;
  }
  h2 {
    font-size: 2.2em;
  }
  .board {
    width: 20%;
  }
}
